#bottomPane {
	-fx-background-color: #336699;
}

#topPane {
	-fx-background-color: #336699;
}

.header {
	-fx-background-color: #336699;
	-fx-padding: 10px;
}

.header Label {
	-fx-text-fill: #ffffff;
}

#validationBox Label {
	-fx-text-fill: #ffffff;
}

.scroll-pane {
    -fx-background-color:transparent;
}

